body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 35px;
}

header nav {
    display: flex;
    justify-content:flex-end;
}
header nav .nav-seccionderecha {
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 8px;
    margin-right: 8px;
}

nav .nav-seccionderecha a {
    color:rgb(21,21,22);
    text-decoration: none;
    margin-right: 25px;
}

nav .nav-seccionderecha .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    margin-right: 25px;
    color:rgb(21,21,22);
    border: transparent;
    background-color: transparent;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
}

.menu-google {
    padding: 24px 18px !important;
    border-radius: 10% !important;
    transform: translate(20px, 30px) !important;
}

.menu-google table {
    width: 100%;
}

.menu-google table tr {
    text-align: center;
    display: table-row;
}

.menu-google td img {
    width: 40px;
    height: 40px;
    margin: 6px;
}

.menu-google td {
    border-width: 10px;
    border-color: transparent;
}


nav .foto{
    border-radius: 50%;
    width: 35px;
}


/*************************************************/
/********************************************/
/***********************************/
/* Main */

main {
    text-align: center;
    margin-top: 40px;
}

main .main-logo {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
}

main .main-logo img {
    height: 130%;
}

main .main-input {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

main .main-input-container {
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    width: 620px;
    display: flex;
    justify-content: center;
}

main .main-input input {
    height: 40px;
    width: 500px;
    border: none;
    outline: none;
}

main .main-input .search-icon {
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 10px;
    background-size: contain;
    padding-left: 3%;
    background-repeat: no-repeat;
}

main .main-input .micro-icon {
    background-image: url(https://cdn.icon-icons.com/icons2/2642/PNG/512/google_mic_logo_icon_159335.png);
    background-position: center;
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
}

main .main-input .can-icon {
    background-image: url(https://i.blogs.es/5af7c0/lens_product_logo_color_720px_-2-/450_1000.png);
    background-position: center;
    width: 10px;
    background-size: contain;
    padding-left: 3%;
    background-repeat: no-repeat;
}

main .main-buttons {
    width: 748px;
    margin: 3% 30% 13%;
    display: flex;
    justify-content: space-evenly;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    border: 0;
    height: 40px;
    background-color: #dfe1e5;
    border-radius: 5px;
    font-size: 14px;
    color: #3c4043;
    margin-right: 20px;
    padding: 0 15px;
}

main .main-input-container:hover {
    box-shadow: 0 0 5px #20212447;
}

main .main-buttons button:hover {
    color: #202124
    border 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(red, green, blue, alpha);
}

.mexico {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    justify-content: space-between;
    background-color: #d7d9db;
}

.contenedor-inf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d7d9db;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
}

.contenedor-izq {
    display: flex;
    justify-content: space-between;
    width: 32%;
}

.contenedor-der {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.conten {
    color: #70757a;
    text-decoration: none;
}

.prefe {
    border: none;
    background-color: transparent;
    color:#70757a;
    font-size: 15px;
    text-decoration: none;
}

.prefe:hover {
    text-decoration: underline;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover .contenido {
    display: block;
    padding: 20px; 
}

.contenido a {
    display: block;
    color: #3c4043;
    padding: 5px;
    text-decoration: none;
}

.contenido a:hover {
    color: rgb(0, 0, 0);
    background-color:#70757a;
}